<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Create Post')">
</head>
<body>
<nav th:replace="fragments/fragments :: nav"></nav>
<header th:replace="fragments/fragments :: header('Create Post')"></header>
<form method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="content" placeholder="content">
  <input type="submit" value="submit">
</form>
<div>
</div>
<th:block th:replace="fragments/fragments :: scripts"></th:block>
</body>
</html>