<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Create Post')">
  <link href="/css/create.css" rel="stylesheet">
</head>
<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('Create Post')"></header>
<form method="post" action="/posts/create">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="body" placeholder="content">
  <button type="submit">Submit</button>
</form>
<div>
</div>
<th:block th:replace="partials/fragments :: scripts"></th:block>
</body>
</html>