<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Create Post', '/css/create_edit.css')">
</head>
<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('Create Post')"></header>
<main>
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center form-wrapper w-100">
          <form class="d-flex flex-column justify-content-center" th:method="post"
                th:action="@{/posts/create}" th:object="${post}" novalidate>
            <label> Title
            <input type="text" th:field="*{title}" name="title" placeholder="Enter Blog Post Title...">
              <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="error"></p>
            </label>
            <label>
            <textarea type="text" th:field="*{body}" name="body" placeholder="Enter Blog Post content....">

            </textarea>
              <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" th:errorclass="error"></p>
            </label>
            <button class="submit-button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="partials/fragments :: scripts('/js/register.js')"></th:block>
</body>
</html>