<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/fragments :: head('Edit Post', '/css/create_edit.css')}"></head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<header th:replace="~{partials/fragments :: header('Edit Post')}"></header>
<main>
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column align-items-center form-wrapper w-100">
          <form th:action="@{/posts/edit}" th:method="post" th:object="${post}"
                class="d-flex flex-column justify-content-center">
            <input type="text" th:field="*{title}" th:value="${post.getTitle()}" th:name="title" />
            <textarea type="text" th:field="*{body}" name="body" th:text="${post.getBody()}"></textarea>
            <input th:hidden="true" th:field="*{id}" th:value="${post.getId()}" th:name="id" />
            <input th:hidden="true" th:field="*{user}" th:value="${post.getUser()}" th:name="id" />
            <input th:hidden="true" th:field="*{createdAt}" th:value="${post.getCreatedAt()}" th:name="createdAt"/>
            <button class="submit-button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="~{partials/fragments :: scripts('/js/main.js')}"></th:block>
</body>
</html>