<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Blog Posts', '/css/create.css')">
<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('Edit Post')"></header>
<main>
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column align-items-center form-wrapper w-100">
          <form action="/posts/edit" method="post" class="d-flex flex-column justify-content-center">
            <input type="text" th:value="${post.getTitle()}" th:name="title" />
            <textarea type="text" name="body" th:text="${post.getBody()}"></textarea>
            <input th:hidden="true" th:value="${post.getId()}" th:name="id" />
            <button class="submit-button" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>