<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Blog Posts', '/css/show.css')">
<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('View Post Details')"></header>
<main>
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column align-items-center">
          <div class="single-post-wrapper">
            <h3 th:text="${post.getTitle()}"></h3>
            <p th:text="${post.getBody()}"></p>
            <p>By: <span th:text="${post.getUser().getEmail()}"></span></p>
            <!--   Add Logic, if loggedIn user has already liked this post, display unlike button instead   -->

            <form method="post" action="/posts/like">
              <input th:hidden="true" name="id" th:value="${post.getId()}">
              <button class="like-button" type="submit">Like</button>
            </form>
            <form method="post" action="/posts/unlike">
              <input th:hidden="true" name="id" th:value="${post.getId()}">
              <button class="unlike-button" type="submit">Unlike</button>
            </form>

            <p>
              <span th:if="${post.getLikedBy().size() == 0}">No likes</span>
            </p>
            <p th:if="${post.getLikedBy().size() > 0}">
                 Likes: <span th:data="${post.getId()}" id="num-likes"
                           th:text="${post.getLikedBy().size()}"></span>
            </p>

            <a th:href="@{/posts}" }>Go Back</a>
            <form method="post" action="/posts/delete">
              <input th:hidden="true" name="id" th:value="${post.getId()}">
              <button class="delete-button" type="submit">Delete Post</button>
            </form>
            <a th:href="@{/posts/edit/{id}(id=${post.getId()})}">Edit Post</a>
          </div>
        </div>
        <ul id="user-likes">
<!--    -->
        </ul>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="partials/fragments :: scripts('/js/show.js')"></th:block>
</body>
</html>