<!DOCTYPE html>
<html lang="en">
<head th:replace="partials/fragments :: head('Login', '/css/login.css')"></head>

<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('Log In')"></header>

<div th:if="${param.error}">
  Invalid Username and Password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>

<form th:action="@{/login}" method="post">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" />
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <input type="submit" value="Log In" />
</form>

<th:block th:replace="partials/fragments :: scripts('/js/main.js')"></th:block>
</body>
</html>