<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{partials/fragments :: head('Reister', '/css/register.css')}"></head>
<body>
<nav th:replace="~{partials/fragments :: nav}"></nav>
<header th:replace="~{partials/fragments :: header('Register')}"></header>
<main>
  <div class="page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col d-flex flex-column justify-content-center form-wrapper w-100">
          <form action="/user/sign-up" th:object="${user}" th:method="post" class="d-flex flex-column"
                id="register-form">
            <div class="form-group d-flex flex-column gap-2">
              <label for="username">Username
                <input type="text" th:field="*{username}" name="username" class="form-control" id="username"
                       placeholder="Enter username">
              </label>
              <label for="firstname">First Name
                <input type="text" th:field="*{firstName}" name="firstname" class="form-control" id="firstname"
                       placeholder="Your First Name">
              </label>
              <label for="lastname">Last Name
                <input type="text" th:field="*{lastName}" name="lastname" class="form-control" id="lastname"
                       placeholder="Your Last Name">
              </label>
              <label for="email">Email
                <input type="text" th:field="*{email}" name="email" class="form-control" id="email"
                       placeholder="Your email">
              </label>
              <label for="password">Password
                <input type="password" th:field="*{password}" name="password" class="form-control" id="password"
                       placeholder="Enter Password">
              </label>
              <label for="password-confirm">Confirm Password
                <input type="password" name="password-confirm" class="form-control" id="password-confirm"
                       placeholder="Enter Password">
              </label>
              <p id="password-error"></p>
              <input id="map" th:hidden="true">
            </div>
          </form>
          <button id="register-button" type="submit" class="btn btn-primary">Register</button>

        </div>
      </div>
    </div>
  </div>
</main>
<th:block th:replace="~{partials/fragments :: scripts('/js/register.js')}"></th:block>
</body>
</html>