:root {
    --olive: #C9D57B;
    --dark-olive: #A1C35F;
    --darker-green: #649671;
    --bright-green: #94E67B;
    --cool-green: #83D3A3;
    --heading-font: 'JetBrains Mono', monospace;
    --sub-heading-font: 'Cabin', sans-serif;
    --content-font: 'Spectral SC', serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--cool-green);
    border-radius: 4px;
    padding: 15px;
    width: 400px;

    & p {
        text-wrap: normal;
    }
}