:root {
    --olive: #C9D57B;
    --dark-olive: #A1C35F;
    --darker-green: #649671;
    --bright-green: #94E67B;
    --cool-green: #83D3A3;
    --heading-font: 'JetBrains Mono', monospace;
    --sub-heading-font: 'Cabin', sans-serif;
    --content-font: 'Spectral SC', serif;
    --title-fnont: 'DM Serif Display';
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.post-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 15px;
    padding: 30px;
    width: 50dvw;

    & p {
        text-wrap: normal;
    }
}

.post-body {
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: start;
}

.view-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cool-green);
    color: white;
    font-family: var(--sub-heading-font);
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--bright-green);
    }
}

#blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
