
:root {
    --olive: #C9D57B;
    --dark-olive: #A1C35F;
    --darker-green: #649671;
    --bright-green: #94E67B;
    --cool-green: #83D3A3;
    --button-green: #B3F98A;
    --button-purple: #E2A2F2;
    --card-color: #38405B;
    --heading-font: 'JetBrains Mono', monospace;
    --sub-heading-font: 'Cabin', sans-serif;
    --content-font: 'Spectral SC', serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.single-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 4px;
    padding: 50px;
    min-height: fit-content;
    min-width: 50dvw;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .left-side {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        width: 100%;

        & img {
            width: 100%;
            max-width: 500px;
            border-radius: 4px;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        width: 100%;

        .post-title {
            font-family: var(--heading-font);
            font-size: 2rem;
            color: var(--darker-green);
            text-align: center;
        }
    }

    .like-buttons {
        display: flex;
        gap: 5px;
        align-items: center;
        width: 100%;
        justify-content: center;

    }

}

.like-button, .unlike-button {
    border: none;
    background-color: var(--button-purple);
    color: white;
    border-radius: 50px;
    width: 50px;
    padding: 10px;
    margin-top: 10px;
    align-self: center;

    &:hover {
        color: black;
        background-color: #C9D57B;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }

}

.de-button {
    border: none;
    background-color: #649671;
    color: white;
    border-radius: 50px;
    min-width: 300px;
    padding: 10px;
    margin-top: 10px;
    align-self: center;

    &:hover {
        color: black;
        background-color: #C9D57B;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 4px;
    padding: 10px;
    min-height: fit-content;
    max-width: 30dvw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .comment-author {
        font-family: var(--heading-font);
        font-size: 1.5rem;
        color: var(--darker-green);
        text-align: center;
    }

}