:root {
    --olive: #C9D57B;
    --dark-olive: #A1C35F;
    --darker-green: #649671;
    --bright-green: #94E67B;
    --cool-green: #83D3A3;
    --heading-font: 'JetBrains Mono', monospace;
    --sub-heading-font: 'Cabin', sans-serif;
    --content-font: 'Spectral SC', serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.single-post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 4px;
    padding: 50px 0;
    min-height: fit-content;
    min-width: 50dvw;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.delete-button {
    border: none;
    background-color: #649671;
    color: white;
    border-radius: 50px;
    min-width: 300px;
    padding: 10px;
    margin-top: 10px;
    align-self: center;

    &:hover {
        color: black;
        background-color: #C9D57B;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}