<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/fragments :: head('Blog Posts', '/css/style.css')">
<body>
<nav th:replace="partials/fragments :: nav"></nav>
<header th:replace="partials/fragments :: header('')"></header>
<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column align-items-center">



        <img src="/assets/img/logo.svg"/>


        <a th:href="@{/posts}">View All Posts</a>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="partials/fragments :: scripts('/js/main.js')"></th:block>
</body>
</html>
